* {
    padding: 0;
    margin: 0;
}

header {
    position: absolute;
    width: 100%;
}

.container {
    max-width: 1188px;
    margin: auto;
}

.d-flex {
    display: flex;
    justify-content: space-between;
}

header ul {
    list-style: none;
    display: flex;
    padding: 39px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

header nav ul li a {
    color: #FFFFFF;
    margin: 0 10px;
    text-decoration: none;
}

header ul li:last-of-type a {
    color: #FFFFFF;
    margin-left: 20px;
}

.main_banner {
    background-image: url("../images/12.png");
    background-size: cover;
    padding-top: 170px;
    padding-bottom: 54px;
}

H1 {
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 30px;
}

article {
    max-width: 512px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    padding: 36px 33px;
    display: flex;
    margin-bottom: 98px;
}

.icon {
    margin-right: 28px
}

.main_banner article p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    line-height: 150%;
    font-size: 20px;
    font-weight: 500;
    color: #000000;
}

.main_banner .container a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    background: linear-gradient(90deg, #4C6071 0%, #55BDEA 100%);
    box-shadow: 0 0 166px rgba(0, 0, 0, 0.2), 8px 8px 109px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 20px 48px;
    text-decoration: none;
    color: #FFFFFF;

}

.about_us {
    background-color: #FFFFFF;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    padding: 14px 0 158px;

}

.about_us img:first-of-type {
    margin-bottom: 160px;
}

.about_us H3 {
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #000000;
    margin-bottom: 60px;
}

.about_text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #000000;
    max-width: 385px;
}

.about_text p {
    margin-bottom: 40px;
}

.about_us img:last-child {
    position: absolute;
    right: 0;
    max-width: 770px;
}

.form_page {
    background-color: #FFFFFF;
    background-size: cover;
    padding: 21px 0 200px;
}

.pattern {
    width: 100%;
    display: block;
}

.form_page .pattern {
    margin-bottom: 200px;
}

form H3 {
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #000000;
    margin-bottom: 30px;
}

form div {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    max-width: 392px;
}

form div label {
    display: block;
}

form a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    background: linear-gradient(90deg, #4C6071 0%, #55BDEA 100%);
    box-shadow: 0 0 166px rgba(0, 0, 0, 0.2), 8px 8px 109px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 20px 48px;
    text-decoration: none;
    border: none;
    color: #FFFFFF;
}

strong {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
}

.image-display {
    width: 100%;
    display: block;
}

div input {
    border: none;
    border-bottom: solid 1px black;
    width: 100%;
    margin-bottom: 40px;
    padding-bottom: 5px;
}

div textarea {
    resize: none;
    width: 100%;
    height: 17px;
    border: none;
    border-bottom: solid 1px black;
    margin-bottom: 60px;
    padding-bottom: 5px;
}

.mw-615 {
    max-width: 615px;
}

.catalog {
    padding-top: 33px;
    padding-bottom: 150px;
    background-color: #FFFFFF;
    background-size: cover;
    text-align: center;
}

.catalog .pattern {
    margin-bottom: 150px;
}

.catalog .cataloglist {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.catalog .container {
    margin-bottom: 40px;
}

.catalog .container:last-of-type {
    margin-bottom: 70px;
}

.catalog H3 {
    font-family: 'Gothic A1', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 52px;
    text-align: left;
    position: relative;
    left: 97px;
}

.catalog p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}

.catalog .cataloglist:first-of-type {
    margin-bottom: 40px;
}

.catalog a {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    background: linear-gradient(90deg, #4C6071 0%, #55BDEA 100%);
    box-shadow: 0 0 166px rgba(0, 0, 0, 0.2), 8px 8px 109px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 20px 48px;
    text-decoration: none;
    border: none;
    color: #FFFFFF;
}

.videoreview {
    background-color: #4C6071;
    background-image: url("../images/Mask Group.svg");
    background-size: cover;
    padding: 60px 0 47px;
}

.videoreview .container {
    justify-content: space-between;
    display: flex;
}

.videoreview .container .video_blocks {
    position: relative;
    max-width: 255px;
    margin-bottom: 47px;
}

.videoreview .container .video_blocks img:first-of-type {
    width: 100%;
    margin-bottom: 20px;
}

.videoreview H3 {
    font-family: 'Gothic A1', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
    max-width: 920px;
    margin: auto;
    margin-bottom: 52px;
}

.videoreview a {
    position: absolute;
    top: 53px;
    right: 52px;
}

.videoreview H5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: left;
    max-width: 253px;
    margin-bottom: 10px;
}

.videoreview p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: left;
}

footer {
    background-color: #4C6071;
    background-image: url("../images/Mask Group.svg");
    background-size: cover;
    padding: 50px 0 50px;
    width: 100%;
}

footer .container {
    display: flex;
    justify-content: space-between;
}

.contacts_1 {
    max-width: 156px;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.contacts_1 H4 {
    font-family: 'Gothic A1', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.contacts_1 p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.container div ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.contacts_2 {
    max-width: 150px;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
}

.map_color {
    background-color: black;
    opacity: 0.6;
    position: absolute;
    width: 100%;
    height: 100%;
}

.map {
    width: 540px;
    height: 146px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.map a {
    position: absolute;
    top: 45px;
    left: 95px;

}